<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css">
</head>
<body>
  <div style="display: flex; justify-content: center;">
    <div class="ui menu">
      <a class="item" href="/" style="padding: 1em 2em;">Home</a>
      <a class="item" href="/enroll" style="padding: 1em 2em;">Enroll</a>
      <a class="item" href="/recognize" style="padding: 1em 2em;">Recognize</a>
      <a class="item" href="/records" style="padding: 1em 2em;">Records</a>
    </div>
  </div>



  <div class="ui container">
    <h1 class="ui header">{{ title }}</h1>
    <p>Welcome to the {{ title }} page.</p>
  </div>
</body>
</html>
